# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Uploads
app/uploads/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/